@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*TIPOGRAFIAS*/
@font-face {
  font-family: "Bebas";
  src: url(./tipografias/Bebas_Neue/BebasNeue-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(./tipografias/Montserrat/Montserrat-VariableFont_wght.ttf);
}
/*COLORES*/
body {
  background-color: #071013;
  align-items: center;
  justify-content: center;
}

/*HEADER*/
header .inicio {
  text-align: center;
  background-color: #fefefe;
  padding: 10px;
}
header .logoImagen2 {
  height: 40px;
}
header .nav {
  justify-content: center;
  padding: 10px;
  margin: 10px;
}
header .nav ul {
  display: flex;
}
header .nav a {
  text-decoration: none !important;
  color: #fefefe;
  font-family: "Montserrat";
}

nav a:hover {
  color: #FCBF23;
}

.carousel-item {
  position: relative;
  height: 600px;
}
.carousel-item .image-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(hsl(195, 46%, 5%), hsla(0, 0%, 100%, 0.5)), url(./images/fondo2.jpg) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.carousel-item .contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0;
}
.carousel-item .contenido h1 {
  font-family: "Bebas";
  color: #fefefe;
  letter-spacing: 3px;
  font-size: 140px;
}
.carousel-item .contenido p {
  color: #fefefe;
  font-size: 50px;
  font-style: italic;
}
.carousel-item .contenido button {
  font-family: "Bebas";
  letter-spacing: 2px;
  margin-top: 20px;
  font-size: 35px;
  border: none;
  border-radius: 10px;
  padding: 15px;
}
.carousel-item .contenido .nombre {
  font-family: "Bebas";
  color: #fefefe;
  letter-spacing: 3px;
  font-size: 80px;
}
.carousel-item .contenido .coment {
  color: #fefefe;
  font-size: 30px;
  font-style: italic;
}
.carousel-item .contenido .coment2 {
  color: #fefefe;
  font-size: 30px;
  font-style: italic;
}

.categorias {
  position: relative;
  background-color: #fefefe;
  z-index: -1;
}
.categorias .nombreCategoria {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 650px 200px 650px;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 2;
}
.categorias .nombreCategoria div {
  background-size: cover;
  box-shadow: 10px 10px 10px #071013;
}
.categorias .nombreCategoria .img1 {
  background-image: linear-gradient(hsla(0, 0%, 100%, 0.5), hsl(195, 46%, 5%)), url(./images/infantiles.JPG);
  grid-area: 1/2/2/3;
  position: relative;
}
.categorias .nombreCategoria .img1 p {
  color: #FCBF23;
  font-family: "Montserrat";
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.categorias .nombreCategoria .img3 {
  background-image: linear-gradient(hsl(195, 46%, 5%), hsla(0, 0%, 100%, 0.5)), url(./images/1.JPG);
  grid-area: 3/2/4/3;
  position: relative;
}
.categorias .nombreCategoria .img3 p {
  color: #FCBF23;
  font-family: "Montserrat";
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.categorias .cat {
  box-shadow: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 75%;
  background-color: #071013;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.categorias .cat p {
  font-family: "Bebas";
  font-size: 80px;
  letter-spacing: 2px;
  color: #FCBF23;
}

.reseñas {
  background-color: #071013;
  text-align: center;
}
.reseñas div p {
  justify-content: center;
  font-size: 80px;
  font-family: "Bebas";
  color: #FCBF23;
  letter-spacing: 2px;
  padding: 10px;
  margin-bottom: 0;
}
.reseñas .carousel-item {
  position: relative;
  height: 500px;
  align-items: center;
}
.reseñas .carousel-item .image-gradient1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(hsl(195, 46%, 5%), hsla(0, 0%, 99%, 0.708), hsl(195, 46%, 5%)), url(./images/fondo2.jpg) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 40px;
}
.reseñas .carousel-item .image-gradient2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(hsl(195, 46%, 5%), hsla(50, 100%, 50%, 0.708), hsl(195, 46%, 5%)), url(./images/fondo2.jpg) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 40px;
}
.reseñas .carousel-item .image-gradient3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(hsl(195, 46%, 5%), hsla(134, 92%, 15%, 0.708), hsl(195, 46%, 5%)), url(./images/fondo2.jpg) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 40px;
}
.reseñas .carousel-item .image-gradient4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(hsl(195, 46%, 5%), hsla(234, 85%, 23%, 0.708), hsl(195, 46%, 5%)), url(./images/fondo2.jpg) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 40px;
}

/*FOOTER*/
footer {
  width: 100%;
}
footer:hover {
  color: #FCBF23;
}
footer .pages {
  font-size: 30px;
  color: #fefefe;
  padding: 20px;
  word-spacing: 20px;
  text-align: center;
}
footer .row {
  color: #fefefe;
  text-align: center;
  justify-content: center;
}
footer .row h5 {
  font-family: "Bebas";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 4px;
  margin-top: 10px;
  margin-bottom: 2px;
}
footer .row .links {
  text-decoration: none;
  font-family: "Montserrat";
  margin: auto;
  text-align: center;
  justify-content: space-between;
  font-style: italic;
  color: #fefefe;
}
footer .row .links:hover {
  color: #FCBF23;
}
footer .pie {
  margin-top: 20px;
}
footer .pie .final {
  color: #fefefe;
  margin-top: 10px 0 10px 0;
  font-family: "Bebas";
  font-style: italic;
  font-size: 30px;
  text-align: center;
}
footer .pie .final .mirco {
  color: #FCBF23;
  text-decoration: none;
}

@media only screen and (max-width: 1350px) {
  .carousel-item .contenido p {
    font-size: 40px;
  }
  .categorias .nombreCategoria .img1 p {
    font-size: 50px;
  }
  .categorias .nombreCategoria .img3 p {
    font-size: 50px;
  }
}
@media only screen and (max-width: 1150px) {
  .categorias .nombreCategoria .img1 p {
    font-size: 30px;
  }
  .categorias .nombreCategoria .img3 p {
    font-size: 30px;
  }
}
@media only screen and (max-width: 1050px) {
  .carousel-item {
    height: 500px;
  }
  .carousel-item .contenido h1 {
    font-size: 80px;
  }
  .carousel-item .contenido p {
    font-size: 30px;
  }
  .carousel-item .contenido button {
    font-size: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .categorias .nombreCategoria {
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 450px 200px 450px;
  }
  .categorias .nombreCategoria .img1 {
    grid-area: 1/2/2/3;
  }
  .categorias .nombreCategoria .img3 {
    grid-area: 3/2/4/3;
  }
}
@media only screen and (max-width: 800px) {
  .carousel-item {
    height: 400px;
  }
  .carousel-item .contenido h1 {
    font-size: 70px;
  }
  .carousel-item .contenido p {
    font-size: 20px;
  }
  .carousel-item .contenido button {
    font-size: 15px;
  }
}
@media only screen and (max-width: 750px) {
  .carousel-item .contenido .nombre {
    font-size: 60px;
  }
  .carousel-item .contenido .coment {
    font-size: 20px;
  }
  .categorias .nombreCategoria {
    grid-template-rows: 350px 200px 350px;
  }
  .categorias .cat p {
    font-size: 60px;
  }
  .reseñas div p {
    font-size: 60px;
  }
  .reseñas .carousel-item {
    height: 400px;
  }
}
@media only screen and (max-width: 630px) {
  header .nav {
    align-items: center;
    height: 200px;
  }
  header .nav ul {
    display: block;
    text-align: center;
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .carousel-item {
    height: 350px;
  }
  .categorias .nombreCategoria {
    grid-template-rows: 250px 200px 250px;
  }
  .categorias .nombreCategoria .img1 p {
    font-size: 20px;
  }
  .categorias .nombreCategoria .img3 p {
    font-size: 20px;
  }
  .categorias .cat {
    height: 400px;
  }
  .categorias .cat p {
    font-size: 40px;
  }
  .reseñas div p {
    font-size: 40px;
  }
}
@media only screen and (max-width: 550px) {
  header .nav {
    height: 180px;
  }
  header .nav ul {
    font-size: 10px;
  }
  .carousel-item {
    height: 350px;
  }
  .carousel-item .contenido h1 {
    font-size: 60px;
  }
  .carousel-item .contenido p {
    font-size: 15px;
  }
  .carousel-item .contenido button {
    font-size: 10px;
    margin-top: 10px;
    padding: 8px;
  }
  .reseñas .carousel-item {
    height: 300px;
  }
  .reseñas .carousel-item .nombre {
    font-size: 40px;
  }
  .reseñas .carousel-item .coment {
    font-size: 15px;
  }
  .reseñas .carousel-item .coment2 {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .categorias .nombreCategoria {
    grid-template-rows: 180px 150px 180px;
  }
  .categorias .nombreCategoria .img1 p {
    font-size: 10px;
  }
  .categorias .nombreCategoria .img3 p {
    font-size: 10px;
  }
  .categorias .cat {
    height: 300px;
  }
}
@media only screen and (max-width: 400px) {
  .carousel-item {
    height: 250px;
  }
  .carousel-item .contenido p {
    font-size: 12px;
  }
  .reseñas .carousel-item {
    height: 250px;
  }
  .reseñas .carousel-item .nombre {
    font-size: 30px;
  }
  .reseñas .carousel-item .coment {
    font-size: 12px;
  }
  .reseñas .carousel-item .coment2 {
    font-size: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
